.PerPage {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PerPage > .grid-container > div {
  margin: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100vh;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  text-align: center;
  font-weight: bold;
  background-color: var(--back-color);
  font-size: 1.3em;
}
