.App h1,
.App h2,
.App h3,
.App p {
  /* box-sizing: border-box; */
  margin-left: 32px;
  margin-right: 32px;
}

.App .MovieCard:first-child {
  margin-left: 32px;
}
.App .MovieCard:last-child {
  margin-right: 32px;
}

.center {
  text-align: center;
}

.mcenter {
  margin: auto;
}

.options {
  display: flex;
  /* width: 100vw; */
  overflow-x: scroll;
}

.options .MovieCard {
  width: 200px;
  /* height: 300px; */
  margin-left: 8px;
  margin-right: 8px;
}

.options .MovieCard {
  aspect-ratio: 2 / 3;
}
